#navBarBlock{
    /* font-size: 2rem; */
    /* font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif; */
    background-color: #fff;
    width: 100vw;
    height: 70px;
    box-shadow: 1px 0px 4px 0px #ccc;
}
#navBarBlock article{
    display: flex;
    align-items: center;
    height: 70px;
    padding-left: 5%;
    padding-right: 5%;
}
.logo{
    width: 10%;
}
.menuBar{
    width: 35%;
    margin-right: 40px;

}
.Auth{
    width: 15%;
    height: 55px;
    margin-left: 30px;
 
}
.Search{
    width: 35%;
 
}

