@import url('https://fonts.googleapis.com/css2?family=Catamaran&family=Roboto&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-color: #efefefef;
    font-size: 14px;
    font-family: Whitney,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;

}